{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">
    <div class="card mx-auto example-wrapper border-primary" style="width: 50vw;line-height: 3;">
        <div class="card-body">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-outline-primary" type="submit">
        Sign in
    </button>

    <div>
        New user?
        <a class="text-primary"href="{{ path('user_new') }}">
            Register</a>!
    </div>
        </div></div>
</form>
{% endblock %}
