{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block body %}
    <style>
        table
        {
            table-layout: fixed;
            width: 100%;
        }
        td
        {
            width: auto;
        }
        .image, .buttons
        {
            width: 25%;
            vertical-align: top;
        }
        .info
        {
            vertical-align: top;
            padding-left: 15px;
            padding-right: 15px;
            text-align: justify;
        }
        a, button
        {
            width: 100%;
        }
    </style>
    <div class="card mx-auto example-wrapper border-primary" style="width: 50vw;">
        <div class="card-body">

            <h1>{{ info.displayName }}'s profile</h1>
            <hr>
            <table>
            <tbody>
            <tr>
                <td class="image"><image style="width: 100%" src="{{ imageURL }}" class="border-primary"></image></td>
                <td class="info" style="width: 50%">
                    {% if info.name.formatted is defined %}
                        <b class="text-primary">Full name</b>: {{ info.name.formatted }} <br>
                    {% endif %}
                    {% if info.displayName is defined %}
                        <b class="text-primary">Username</b>: {{ info.displayName }} <br>
                    {% endif %}
                        <b class="text-primary">Email</b>: {{ app.user.email }}<br>
                    {% if info.aboutMe is defined %}
                        <b class="text-primary">About me</b>: {{ info.aboutMe }}<br>
                    {% endif %}
                    {% if  info.currentLocation is defined%}
                        <b class="text-primary">Country</b>: {{ info.currentLocation }}
                    {% endif %}

                </td>
                <td class="buttons" style="width: 25%">
                    <a href="https://en.gravatar.com/" target="_blank" class="btn btn-outline-primary">Edit profile</a><br>
                    <a class="btn btn-outline-primary" href="{{ path('export_data') }}">Download data</a><br>
                    <a class="btn btn-outline-primary" href="{{ path('password_new') }}">Change password</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
            </tbody>
        </table>
            <i class="text-primary font-weight-light fs-6">*The profile editing process is made through <b>Gravatar</b></i>
    </div></div>
{% endblock %}
